################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Source/.vs/DirectConnect/v15/Server/sqlite3
/Source/obj/Debug
/Source/.vs/DirectConnect/v15/.suo
